<div class="well">
  <div class="container-fluid">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <h2> Compléter mon profil </h2>
       <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <%= devise_error_messages! %>

      <%= f.input :first_name, required: true, autofocus: true %>
      <%= f.input :last_name, required: true, autofocus: true %>
      <%= f.input :age, autofocus: true %>
   <%= f.input :level, collection: [ "Débutant", "Courreur du dimanche", "Professionnel"], selected: "Débutant", autofocus: true %>
      <%= f.input :picture, label: "Photo" %>
      <%= f.input :picture_cache, as: :hidden %>
      <%= f.button :submit, "Sauvegarder", class: "btn btn-success btn-block" %>
      <% end %>
    </div>
  </div>
</div>
