<div class="container-fluid races_results">
  <div class="row">

    <div class="col-sm-6">
      <div class="row text-center form-inline">
   <!--      <div class="races_search">
          <%= simple_form_for :search, url: races_path, method: :get do |f| %>
            <%= f.input :address, :class => 'btn-success', label: false, placeholder: "City", input_html: {value: @search} %>
            <%= f.button :submit, "Go!", :class => "btn-success" %>
          <% end %>
        </div> -->
        <% @races.each do |race| %>
          <div class="col-sm-6">
            <div class="card ig-mayfair " style="background: url(<%= image_url('banner.jpg') %>);">

              <div class="card-category">
                <% if race.bibs.count == 0 %>
                  <span class="label label-default">Pas de dossard disponible</span>
                <% else %>
                  <span class="label label-success"><%= race.bibs.count %> dossards disponibles</span>
                <% end %>
              </div>
              <div class="card-description-1">
                <h2><%= race.name %></h2>
                  <% if race.id == 1 %>
                    <span class="label label-danger"> Plus que  7 jours avant la course !</span>
                    <% else %>
                    <span>""</span>
                  <% end %>
                <!-- <% if race.min_price == "ajouter un dossard" %>
                  <h2><span class="label label-default"><%= race.min_price %></span></h2>
                <% else %>
                  <h2><span class="label label-success"><%= race.min_price %></span></h2>

                <% end %> -->
                <!-- <p><%= race.date %></p> -->
                <%= link_to race.name, race_path(race.id), {class: "card-link"} %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>



    <div class="col-sm-6">
      <div class="card-category">
        <div id="map" style="width: 100%; height: 600px;"></div>

        <% content_for(:after_js) do %>
          <script>
            $(document).on('ready', function() {
              mapStyle = [{"elementType":"geometry","stylers":[{"hue":"#ff4400"},{"saturation":-68},{"lightness":-4},{"gamma":0.72}]},{"featureType":"road","elementType":"labels.icon"},{"featureType":"landscape.man_made","elementType":"geometry","stylers":[{"hue":"#0077ff"},{"gamma":3.1}]},{"featureType":"water","stylers":[{"hue":"#00ccff"},{"gamma":0.44},{"saturation":-33}]},{"featureType":"poi.park","stylers":[{"hue":"#44ff00"},{"saturation":-23}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"hue":"#007fff"},{"gamma":0.77},{"saturation":65},{"lightness":99}]},{"featureType":"water","elementType":"labels.text.stroke","stylers":[{"gamma":0.11},{"weight":5.6},{"saturation":99},{"hue":"#0091ff"},{"lightness":-86}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"lightness":-48},{"hue":"#ff5e00"},{"gamma":1.2},{"saturation":-23}]},{"featureType":"transit","elementType":"labels.text.stroke","stylers":[{"saturation":-64},{"hue":"#ff9100"},{"lightness":16},{"gamma":0.47},{"weight":2.7}]}];

              handler = Gmaps.build('Google');
              handler.buildMap({
                  internal: {
                    id: 'map'
                  },
                  provider: {
                    styles: mapStyle
                  }
                }, function(){
                markers = handler.addMarkers(<%= raw @markers.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
              });
            })
          </script>
        <% end %>

      </div>
    </div>

  </div>
</div>
