<div class="container-fluid">
  <div class="row">

    <div class="col-sm-6">
      <div class="row">
        <% @races.each do |race| %>
          <div class="col-sm-6">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('urban_trail.jpg');">
              <div class="card-category">
                <% if race.bibs.count == 0 %>
                  <span class="label label-default">No bib available</span>
                <% else %>
                  <span class="label label-success"><%= race.bibs.count %> bibs available</span>
                <% end %>
              </div>
              <div class="card-description">
                <h2><%= race.name %></h2>
                <% if race.min_price == "Add your bib" %>
                  <h2><span class="label label-default"><%= race.min_price %></span></h2>
                <% else %>
                  <h2><span class="label label-success"><%= race.min_price %></span></h2>
                <% end %>
                <p><%= race.race_type %> | <%= race.date %></p>
              </div>
              <%= link_to race.name, race_path(race.id), {class: "card-link"} %>
            </div>
          </div>
        <% end %>
      </div>
    </div>



    <div class="col-sm-6">
      <div class="card-category">GOOGLE MAP</div>
    </div>

  </div>
</div>
