<div class="well">
  <div class="container-fluid">
    <div class="col-xs-12 col-md-6 col-md-offset-3">

    <h2>Nouvelle course</h2>

    <%= simple_form_for @race do |f| %>
      <%= f.input :name, label: "Infos générales", placeholder: "Nom de l'évènement" %>
      <%= f.input :address, label: false, placeholder: "Ville" %>
      <%= f.input :date, as: :string, input_html: {type: :date} %>
      <%= f.input :race_type, label: "Type de course", collection: ["5 kms", "10 kms", "Semi-Marathon", "Marathon", "Ultra Marathon", "Duathlon", "Triathlon", "Autres"], selected: "5kms" %>
     <!--  <%= f.input :label, label: "Race label", placeholder: "Label", collection: ["Trail Nature", "FFA", "No label"], selected: "FFA" %> -->
     <!--  <%= f.input :picture %>
      <%= f.input :picture_cache, as: :hidden %> -->
      <%= f.button :submit, "Ajouter ma course", class: "btn btn-success btn-block" %>
    <% end %>

    </div>
  </div>
</div>
