

<!-- Banner  -->
<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= @race.picture %>);">
  <div class="banner-content">
    <h1><%= @race.name %></h1>
    <h2>Départ le : <%= l(@race.date, format: :long) %></h2>
  </div>
</div>

<!-- After banner  -->
<div class="container-fluid races_results">
  <div class="row">

    <div class="col-sm-6">
      <div class="row">

        <div class="col-xs-12 col-sm-3 col-sm-offset-2">
          <div class="feature">
            <h2>
              <a href=""><i class="fa fa-arrows-h"></i></a>
              Distance
            </h2>
            <p><%= @race.race_distance %> kms</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3">
          <div class="feature">
            <h2>
              <a href=""><i class="fa fa-trophy"></i></a>
              Type de course
            </h2>
            <p> Nocturne</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3">
          <div class="feature">
            <h2>
              <a href=""><i class="fa fa-tags"></i></a>
              Catégorie
            </h2>
            <p><%= @race.label.capitalize %></p>
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-6">
      <div class="row">

        <h3>Dossards actuellement disponibles :</h3>

        <% @race.bibs.each do |bib| %>
        <div class="col-sm-6">
          <div class="card ig-mayfair" style="background: url(<%= bib.user.picture %>);">
            <div class="card-description">
              <h1><%= bib.user.first_name %></h1>
              <p><i>Raison: <%= bib.sale_reason %></i></p>
              <h2><span class="label label-success"><%= bib.price %>€</span></h2>
            </div>
            <%= link_to "", "#", data: { toggle: "modal", target: "#myModal-#{bib.id}" }, class: "card-link" %>
          </button>
        </div>
      </div>

      <div class="modal fade" id="myModal-<%= bib.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h3 class="modal-title" id="myModalLabel">Acheter ce dossard</h3>
            </div>
            <div class="modal-body">

              <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= bib.user.picture %>);">
                <div class="card-description">
                  <h1><%= bib.user.first_name %></h1>
                  <p><i>Raison: <%= bib.sale_reason %></i></p>
                  <h2><span class="label label-success"><%= bib.price %>€</span></h2>
                </div>
              </button>
            </div>

            <%= simple_form_for [bib, @order] do |f| %>
            <%= f.button :submit, "Confirmer cet achat", class: "btn btn-success btn-block" %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

</div>
</div>
