<!-- Banner with search buttons  -->
<div class="banner ig-mayfair" style="background: linear-gradient(-225deg, rgba(48,67,82,0.6) 0%, rgba(215,210,204,0.6) 100% ), url(<%= image_url('banner2.jpg') %>);">

  <div class="banner-content">
     <div class="logo"><%= image_tag "l.png" %>
    <!-- <h1>LateRun </h1>
    <p><h3>Dernière chance avant le départ !</h3></p> -->
    <!-- <a class="btn btn-primary btn-lg">GET IT</a> -->
      <div class="text-center form-inline">
        <%= render "races/hp_search" %>
      </div>
    </div>
    <div class="container">
      <div class="row">

      </div>
    </div>
  </div>
</div>

<!-- Cards with courses types  -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">

      <div class="card ig-mayfair" style="background: url('urban_trail.jpg');">
        <div class="card-category">
          <span class="label label-success">Original</span>
        </div>
        <div class="card-description">
          <h2>Urban Trail</h2>
        </div>
        <%= link_to "Urban", races_path, {class: "card-link"} %>
      </div>

    </div>
    <div class="col-xs-12 col-sm-6">

      <div class="card ig-mayfair" style="background: url('team_race.jpg');">
        <div class="card-category">
          <span class="label label-success">Fun</span>
        </div>
        <div class="card-description">
          <h2>Team Race</h2>
        </div>
        <%= link_to "Team Race", races_path, {class: "card-link"} %>
      </div>


    </div>
    <div class="col-xs-12 col-sm-6">

      <div class="card ig-mayfair" style="background: url('night_race.jpg');">
        <div class="card-category">
          <span class="label label-success">Discovery</span>
        </div>
        <div class="card-description">
          <h2>Night Race</h2>
        </div>
        <%= link_to "Night Race", races_path, {class: "card-link"} %>
      </div>

    </div>
    <div class="col-xs-12 col-sm-6">

      <div class="card ig-mayfair" style="background: url('cross.jpg');">
        <div class="card-category">
          <span class="label label-success">Dirty</span>
        </div>
        <div class="card-description">
          <h2>Cross</h2>
        </div>
        <%= link_to "Cross", races_path, {class: "card-link"} %>
      </div>

    </div>
  </div>
</div>
 -->
